---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-5" title="About me">
  <br>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, 我是SanXiaoXing, 一个热爱探索技术的在职工作者。
      <br />
      <br />
      我主要使用的语言及工具：
      <ul class="list-inside list-disc">
        <li>Java</li>
        <li>Python</li>
        <li>SQL</li>
        <li>Astro</li>
        <li>Lua</li>
        <li>C</li>
      </ul>
    </p>
    <br />
    <p class="text-sm font-light">
      除此之外，我还喜欢听一些古典音乐。
    </p>
  </div>
</Card>
