---
import ContentCard from './ContentCard.astro'
import { Card as ShadcnCard } from './ui/card'

interface Props {
  title?: string
  body?: string
  colSpan?: string
  rowSpan?: string
  href?: string
  colorText?: string
}

const { title, body, colSpan, rowSpan, href, colorText } = Astro.props
---
<ShadcnCard className='divc'>
  <a 
    href={href} 
    className={`card-animate transform-y-[-40%] align-start perspective-1200 group relative col-span-1 h-auto w-full flex-none transform justify-start overflow-hidden p-6 shadow-lg transition duration-300 ease-in-out  group ${colSpan || 'md:col-span-2'} ${rowSpan || ''}`}>
      <ContentCard title={title} body={body} className="flex items-center justify-center text-center">
        <div class="moving-gradient-text"><slot /></div>
      </ContentCard>
  </a>
</ShadcnCard>
<link href="https://fonts.googleapis.com/css2?family=Edu+Australia+VIC+WA+NT+Hand+Guides&display=swap" rel="stylesheet">

<style>
.divc {
  align-items: center;
  background-color: hsl(var(--card));
  border: 2px solid linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  overflow: hidden;
}

.divc .moving-gradient-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.divc span {
  transition: 300ms;
  font-size: 2rem;
  color: var(--hc);
}

.divc:hover {
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  transition: all .3s;
}

.divc:hover span {
  background: none;
}

.divc:active {
  transform: scale(0.9);
}

.divc:hover,
.divc:active {
  outline: 0;
  box-shadow: 0px 0px 100px 10px rgba(6, 56, 238, 0.547);
}

.moving-gradient-text {
  display: flex; 
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  text-align: center; /* 使文本在其容器内居中 */
  width: 100%; /* 使其宽度占满父容器 */
  font-family: 'Bradley Hand', monospace;
  font-size: 48px;
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #4adede);
  background-size: 600% 600%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>
